{{ partial "head.html" . }}
<body>
<div class="row" id="content">
  <div class="large-2 columns" data-sticky-container>
    <ul class="no-bullet sticky" data-sticky data-anchor="content">
      <li><a href="#cv">#Top</a></li>
      <li><a href="#skills">#Skills</a> </li>
      <li><a href="#experience">#Experience</a></li>
      <li><a href="#certifications">#Certifications</a></li>
      <li><a href="#courses">#Courses</a></li>
      <li><a href="#education">#Education</a></li>
      <li><a href="#languages">#Languages</a></li>
    </ul>
  </div>
  <div class="large-10 columns">
    {{ .Content }}
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script src="{{ .Site.BaseURL }}/js/app.js"></script>
{{ partial "footer.html" . }}
