<div class="callout large">
  <div class="row">
    <div class="large-12 columns">
      <h1><a href="/">Ernestas Poškus</a></h1>

      <p>Technical blog of Systems Engineer</p>

      <p>|
        {{ range .Site.Menus.social }}
        <a href="{{.URL}}" target="_blank">{{ index (split .Name ".") 0 }}</a> |
        {{end}}
      </p>

      {{ range $name, $value := .Site.Taxonomies.tags }}
        <a href="/tags/{{ $name | urlize }}">{{ $name }}</a> {{ .Count }} /
      {{ end }}
    </div>
  </div>
</div>
