<div class="callout large primary">
  <div class="row">
    <div class="large-3 columns">
      <h1><a href="/">Ernestas Poškus</a></h1>
    </div>

    <div class="large-3 columns">
      <h2>Categories</h2>
      <ul class="circle">
        {{ range $name, $value := .Site.Taxonomies.categories }}
          <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a> {{ .Count }}</li>
        {{ end }}
      </ul>
    </div>

    <div class="large-3 columns">
      <h2>Tags</h2>
      <ul class="circle">
        {{ range $name, $value := .Site.Taxonomies.tags }}
          <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a> {{ .Count }}</li>
        {{ end }}
      </ul>
    </div>

    <div class="large-3 columns">
      <h2>Social</h2>
      <ul class="circle">
        {{ range .Site.Menus.social }}
          <li><a href="{{.URL}}">{{ .Name }}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
