{{ partial "head.html" . }}
{{ partial "callout.html" . }}
<div class="row">
  <div class="large-12 columns">
    {{ range (sort .Site.RegularPages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        {{ if not .Params.private }}
            <article class="post">
                <h3>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <small><time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time></small>
                </h3>
            </article>
        {{ end }}
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
